body{
    background-color: red;
}
html{
    background-color: #ea3f3f;
}
.parrafos{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: rgba(4, 139, 192, 0.877);
    border-radius: 5px;
    border-style: dashed;
}
.titulos{
    text-align: center;
}